<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="derinYouTube.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="derinYouTube.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DbEntities" connectionString="metadata=res://*/Model.DbEntities.csdl|res://*/Model.DbEntities.ssdl|res://*/Model.DbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=YoutubeCommentDb;persist security info=True;user id=drn;password=sis;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <derinYouTube.Properties.Settings>
      <setting name="YoutubeHesap" serializeAs="String">
        <value>client_secret_izlene@gmail.com.json</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>YoutubeCommentDb</value>
      </setting>
    </derinYouTube.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <derinYouTube.Properties.Settings>
      <setting name="LwCol1Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LwCol2Width" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="LwCol3Width" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="LwCol4Width" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="Timer" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="ListFontSize" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="ListItemCount" serializeAs="String">
        <value>10</value>
      </setting>
    </derinYouTube.Properties.Settings>
  </userSettings>
</configuration>